.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.isRed {
  color: var(--colorRed);
}

.isFlex {
  display: flex;
}

.gap8 {
  gap: 1rem;
}

.mt152 {
  margin-top: 19rem;
}

.mt24 {
  margin-top: 3rem;
}

.ml17 {
  margin-left: 16.875rem;
}

.br40 {
  border-radius: 5rem;
}
